<table style="width:100%">
  <tbody>
    <tr>
      <td>Sensor Mac Address</td>
      <td>Temperature (C)</td>
    </tr>
    <% @reports.each do |report| %>
    <tr>
      <td><%= report.sensor_mac %></td>
      <td><%= report.temp %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<script>
  document.onload = function () {
    setTimeout(function(){ location.reload(); }, 2000);
  };
</script>
